.container {
  width: 95%;
  max-width: 1100px;
  height: 90vh;
  background: linear-gradient(145deg, #160A1C 0%, #1e293b 100%);
  box-shadow: 0 0 40px rgba(0, 0, 255, 0.2);
  border-radius: 20px;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow: hidden; */
}

@property --angle{
    syntax: "<angle>";
    initial-value: 45deg;
    inherits: false;
}

.container::after, .container::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 50%, #006aff);
    /* background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545); */
    /* background: #00D9FF ; */
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 20px;
    /* animation: 1s spin linear infinite; */
    animation: 1s spin linear;
}

.container::before{
    filter: blur(0.2rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 270deg;
    }
    to{
        --angle: 630deg;
    }
}

.main_body {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
  box-sizing: border-box;
}

/* LEFT SIDE: Image */
.image_content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_content img {
  width: 100%;
  max-width: 500px; /* adjust to your liking */
  max-height: 380px;
  margin-right: 60px;
  height: auto;
  object-fit: contain;
  border-radius: 10px; /* optional for a smooth look */
}

/* RIGHT SIDE: Text Content */
.body_content {
  flex: 1;
  max-width: 500px;
  text-align: left;
}

.body_content h2 span {
  font-size: 40px;
  font-weight: bold;
}

.body_content h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #00D9FF;
}

.body_content p {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.6;
}



@media (max-width: 768px) {
  .main_body {
    flex-direction: column;
    padding: 30px 5%;
    text-align: center;
  }

  .body_content {
    margin-top: 20px;
  }

  .image_content img {
    background: #1e293b;
    width: 100%;
    max-width: 500px; /* adjust to your liking */
    max-height: 380px;
    margin-right: 0;
    height: auto;
    object-fit: contain;
    border-radius: 10px; /* optional for a smooth look */
    }
}
